{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="">
        <div class="col-6">
        <h3></h3>
            <p>Nombre d'enfants : {{ nbChild }}</p>
        </div>
        <div class="col-6">
            <table>
                
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                
            </table>
        </div>
    </div>
</div>

{% endblock %}
