{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="">
        <p>Nombre d'enfants : {{ nbChild }}</p>
        <p>Nombre de parent : {{ nbParent }}</p>
        <p>Nombre d'admin : {{ nbAdmin }}</p>


    </div>
</div>

{% endblock %}
